@use "../../../styles/deps";
@import "~@voyo/core-style/lib/components-dep";

$media-mobile:"screen and (max-width: 800px)";
$media-pc: "screen and (min-width:801px)";


.core-main{

}
.yo-core-user{
  position:relative;
  padding:2rem 1rem 1rem 1rem;
}
@media #{$media-pc}{
  .yo-core-main{
    //border:1px solid gainsboro;
    width:90vw;
    height:85vh;
    max-width: 1400px;
    margin:7.5vh auto 7.5vh auto;
    min-height:600px;
    display:grid;
    grid-template-columns: 300px 1fr;
    grid-column-gap: 1.5rem;
  }
  .yo-core-nav{
    @include deps.m-filterBg;
    @include Radius($type:large);
  }

  .yo-core-content{
    @include deps.m-filterBg;
    @include Radius($type:large);
    padding:1rem;
  }
}
.yo-core-nav{
  width:300px;
}
.yo-core-user-menu-content{
  min-width:14rem;
}
.yo-core-nav-item-children{
  padding-left:1rem;
  overflow:hidden;
}
.yo-core-nav-item-open-icon{
  display: inline-block;
  color:var(--color-font-des);
  @include Transition();
}
.yo-core-nav-list-wrapper{
  padding:0.5rem;
}
.yo-core-nav-item{
  @include Radius();
  @include IOSRadius();
  @include Transition();
  overflow: hidden;
  position: relative;
  padding:.5rem;
  font-size:var(--size-small);
  color: var(--color-font-content);
  &:hover{
    cursor: pointer;
  }
  &.__open{
    .yo-core-nav-item-open-icon{
      transform:rotate(90deg);
    }
  }
  &.__active{
    color:var(--color-primary);
    font-weight: bold;
    background:var(--color-primary-gentle);
  }
}

.yo-core-nav-item-icon{
  font-size: var(--size-medium);
  font-weight: bold;
  color:var(--color-font-title);
  width:3rem;
  text-align: center;
}
