@use "../../../styles/vars";
@use "../../../styles/deps";
@import "~@voyo/core-style/lib/components-dep";
@import "~ceaser-easing";

$nav-width:300px;
$main-height:90vh;
$main-width-max:1400px;
$menu-height:50px;
$index-menu:5;
$index-nav:2;
.core-main{
  //color: #f5f5f5;
}
.yo-core-user{
  position:relative;
  padding:2rem 1rem 1rem 1rem;
}
@media #{vars.$media-pc}{
  .yo-core-main{
    //border:1px solid gainsboro;
    width:90vw;
    max-width: $main-width-max;
    margin:10vh auto 0 auto;

  }
  .yo-core-nav{
    width: $nav-width;
    display:inline-block;
    vertical-align: top;
    height:10px;
    position:sticky;
    top:10vh;
    .yo-core-nav-inner{
      @include Radius($type:large);
      @include deps.m-filterBg;
      @include deps.m-shadowCard;
      height:88vh;
    }
  }

  .yo-core-content{
    width: calc(90vw - #{$nav-width});
    max-width: calc(#{$main-width-max} - #{$nav-width});
    display: inline-block;
    @include Radius($type:large);
    padding:0 1rem 1rem 1rem;
    overflow-y:auto;
  }
}
@keyframes SlideLeftIn{
  from{
    opacity:0;
    transform: translate3d(-30%,0,0);
  }
  to{}
}

@media #{vars.$media-mobile}{
  .yo-core-main{
    width:100%;
  }
  .yo-core-nav{
    position:fixed;
    width:100vw;
    @include IOSSafeHeight();
    left:0;
    top:$menu-height;
    z-index:1;
    display:none;
    @include deps.m-filterBg;
    &.__mobile-show{
      animation:SlideLeftIn .25s $easeOutQuart;
      display:block;
    }
  }
}
.yo-core-user-menu-content{
  min-width:14rem;
}
.yo-core-nav-item-children{
  padding-left:1rem;
  overflow:hidden;
}
.yo-core-nav-item-open-icon{
  display: inline-block;
  color:var(--color-font-des);
  @include Transition();
}
.yo-core-nav-list-wrapper{
  padding:0.5rem;
}
.yo-core-nav-item{
  @include Radius();
  @include IOSRadius();
  @include Transition();
  overflow: hidden;
  position: relative;
  padding:.5rem;
  font-size:var(--size-small);
  color: var(--color-font-content);
  &:hover{
    cursor: pointer;
  }
  &.__open{
    .yo-core-nav-item-open-icon{
      transform:rotate(90deg);
    }
  }
  &.__active{
    color:var(--color-primary);
    font-weight: bold;
    background:var(--color-primary-gentle);
  }
}

.yo-core-nav-item-icon{
  font-size: var(--size-medium);
  font-weight: bold;
  color:var(--color-font-title);
  width:3rem;
  text-align: center;
}


.yo-core-menu{
  @media #{vars.$media-mobile}{
    display:block;
    height:$menu-height;
    width:100%;
    margin-bottom:1rem;
    ._menu-bar{
      @include deps.m-filterBg;
      z-index:$index-menu;
      position:fixed;
      top:0;
      height:$menu-height;
      width:100%;
      @include Shadow(tabbar)
    }
    ._menu-bar-btn{
      height:100%;
      padding:0 1rem;
      position:relative;
    }
  }
  @media #{vars.$media-pc}{
    display:none;
  }
}