@use "../../../styles/vars";
@use "../../../styles/deps";
@import "~@voyo/core-style/lib/components-dep";

$nav-width:300px;
$main-height:90vh;
.core-main{
  //color: #f5f5f5;
}
.yo-core-user{
  position:relative;
  padding:2rem 1rem 1rem 1rem;
}
@media #{vars.$media-pc}{
  .yo-core-main{
    //border:1px solid gainsboro;
    width:90vw;
    max-width: 1400px;
    margin:10vh auto 0 auto;

  }
  .yo-core-nav{
    width: $nav-width;
    display:inline-block;
    vertical-align: top;
    height:10px;
    position:sticky;
    top:10vh;
    width: $nav-width;
    .yo-core-nav-inner{
      @include Radius($type:large);
      @include deps.m-filterBg;
      @include deps.m-shadowCard;
      height:88vh;
    }
  }

  .yo-core-content{
    width: calc(90vw - #{$nav-width});
    display: inline-block;
    @include Radius($type:large);
    padding:0 1rem 1rem 1rem;
    overflow-y:auto;
  }
}
.yo-core-nav{
  width:300px;
}
.yo-core-user-menu-content{
  min-width:14rem;
}
.yo-core-nav-item-children{
  padding-left:1rem;
  overflow:hidden;
}
.yo-core-nav-item-open-icon{
  display: inline-block;
  color:var(--color-font-des);
  @include Transition();
}
.yo-core-nav-list-wrapper{
  padding:0.5rem;
}
.yo-core-nav-item{
  @include Radius();
  @include IOSRadius();
  @include Transition();
  overflow: hidden;
  position: relative;
  padding:.5rem;
  font-size:var(--size-small);
  color: var(--color-font-content);
  &:hover{
    cursor: pointer;
  }
  &.__open{
    .yo-core-nav-item-open-icon{
      transform:rotate(90deg);
    }
  }
  &.__active{
    color:var(--color-primary);
    font-weight: bold;
    background:var(--color-primary-gentle);
  }
}

.yo-core-nav-item-icon{
  font-size: var(--size-medium);
  font-weight: bold;
  color:var(--color-font-title);
  width:3rem;
  text-align: center;
}
