@use "vars";
@use "deps";
*{
  box-sizing: border-box;
}
html{
  text-rendering:optimizeLegibility;
  -webkit-user-drag:none;
  word-break: break-all;
}
:root{
  --color-bg:#{rgba(white,.9)};
  --color-primary: #{vars.$color-primary};
  --radius-base: #{vars.$base-radius};
  --color-primary-light: #{vars.$color-primary-light};
  --color-primary-gentle: #{vars.$color-primary-gentle};
  --color-primary2-gentle: #{vars.$color-primary2-gentle};
  --color-after-border: #{vars.$color-after-border};
  --color-bg3: #{rgba(white,.3)};
}

::-webkit-scrollbar{
  width:10px;
  background: darken(vars.$color-primary-gentle,10%);
  @include Radius();
}
::-webkit-scrollbar-thumb{
  @include Radius();
  background: lighten(vars.$color-primary2-gentle,10%);
}

.yo-bg,.yo-bg-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  overflow-y:auto;
  display:flex;
  &.__center{
    align-items: center;
    justify-content: center;
  }
}
.yo-bg{
  z-index:-1;
  //background-image: url("/image/bg.svg");
  background-size:cover;
  background-image: linear-gradient(45deg,vars.$color-primary-gentle,vars.$color-primary2-gentle) ;
}

.yo-filter-bg{
  @include deps.m-filterBg;
}
.yo-filter-card{

  @include deps.m-filterBg;
  padding:10px;
}
.yo-login-card{
  @include Radius();
  width:25rem;
}
