@import "~@voyo/core-style/lib/components-dep";
@import "../../../styles/vars";

.title-box{
  display: flex;
  justify-content: space-between;
}
.delete{
  display: flex;
  align-items: center;
  color:var(--color-error);
}
.setup{
  color:var(--color-primary2);
  display: flex;
  align-items: center;
}
.commodity-img-box{
  display: inline-block;
  //width:100px;
  //height:100px;
  width:7rem;
  height:7rem;
  border:1px solid red;
}
.commodity-img-box image{
  width:100px;
  height:100px;
}
.card-one{
  width: 100%;
  //display: flex;
  //flex-direction:row
}
.img-part{
  display: flex;
  //justify-content: space-between;
  //flex-direction:row
}
.miaosha-box{
  display: flex;
  align-items: center;
}
.active-title{
  font-weight: bolder;
}
.active-title-time{
  color:#bbb;
}
.kucun-box{
  display: flex;
  justify-content: space-between;
}
.info-box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width:272px;
}
.price{
  font-size: 20px;
  color:var(--color-error)
}
.info-price{
  width:100%;
  display: flex;
  justify-content: space-between;
}
.code-down-box{
  padding:10px;
  border: 1px solid #eee;
  border-radius: 8px;
}
.code-down{
  width:100px;
  height:100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
.code-box{
  display: flex;
  justify-content: space-around;
}
.icon-size{
  font-size:50px;
  color:blue;
}
.icon-size-two{
  font-size:40px;
  color:blue;
}
.color-success{
  color:var(--color-success);
}
.self-card{
  position:relative;
  background:var(--color-gentle-gentle);
  width:6rem;
  height:6rem;
  @include Radius();
  i{
    font-size: 2rem;
  }
}