
<yo-card footerAlign="right" header="商品管理">
        <div class="flex-between">
            <voyoc-btn>+添加商品</voyoc-btn>
            <div class="flex">
                <el-input v-model="name" class="mr-2"  placeholder="竞品名称"></el-input>
                <div>
                    <voyoc-btn-icon>
                        <i class="za za-search"></i>
                    </voyoc-btn-icon>
                </div>
            </div>
        </div>
</yo-card>


<!--列表-->

<yo-card header="活动列表">
    <template #header>
        <div >
            <voyoc-btn-icon color="primary" type="candy">
                <i class="za za-setting"></i>

            </voyoc-btn-icon>
            <voyoc-btn-icon color="error" type="candy">
                <i class="za za-del-outline"></i>
            </voyoc-btn-icon>
        </div>
    </template>
    <div class="flex voyo-border-bottom" >
        <div class="flex-1 flex-center voyo-border-right flex-vertical-center">
            <div class="card-one">
               <div class="img-part">
                   <div class="commodity-img-box mr-3">
<!--tupian-->
                   </div>

                   <div class="info-box flex-1">
                       <div class="voyo-text-title">立白洗衣商品名称</div>
                       <div class="info-price">
                           <div class="miaosha-box ">
                               <div class="pr-4">
                                   <div>rmb</div>
                                   <div class="delete">秒杀价</div>
                               </div>
                               <div class="price">9.9</div>
                           </div>
                           <div class="p-3">
                               <div class="voyo-des-line flex-between">
                                   <div>库存</div>
                                   <b>10</b>
                               </div>
                               <div class="voyo-des-line flex-between">
                                   <div>每轮秒杀时长（秒）</div>
                                   <b>200</b>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
                <div class="flex mt-2">
                    <div class="flex-1 flex-center voyo-border-right-small p-3">围观人数 0 </div>
                    <div class="flex-1 flex-center p-3">已售数量 0</div>
                </div>
            </div>
        </div>
        <div class="flex-1 flex-center code-box">
            <div class="flex-center-column self-card" v-yo-ripple>
                    <i class="za za-qr-code voyo-color-primary2"></i>
                    <div>二维码下载</div>
            </div>
            <div class="flex-center-column self-card" v-yo-ripple>

                    <i class="za za-cup voyo-color-primary"></i>
                    <div>抢购记录</div>

            </div>
            <div class="flex-center-column self-card" v-yo-ripple>

                    <i class="za za-screen voyo-color-success"></i>
                    <div>投放大屏</div>

            </div>
        </div>
    </div>

</yo-card>