<yo-card header="查詢">
<!--    card content-->
    <yo-group>
        <yo-cell label="姓名" v-for="(i,index) in arr" :key="index">
            <el-input type="candy"/>
        </yo-cell>
        <yo-cell label="年齡" span="2">
            <el-input v-model="age"></el-input>
        </yo-cell>
        <yo-cell label="必填" :important="true">
            <el-input></el-input>
        </yo-cell>

        <yo-cell label="三列" span="3">
            <el-input></el-input>
        </yo-cell>
    </yo-group>
<!--    插入card footer-->
    <template #footer>
        <voyoc-btn>查詢</voyoc-btn>
        <voyoc-btn>重置</voyoc-btn>
    </template>
</yo-card>

<yo-card header="結果">
    <div> yo card</div>
</yo-card>

<yo-card footerAlign="right">
    <template #header>
        <span class="_title">自定義Header</span>
        <voyoc-btn-icon>
            <i class="za za-plus"></i>
        </voyoc-btn-icon>
    </template>
    <div>yo card</div>
    <template #footer>
        <voyoc-btn>右對齊</voyoc-btn>
    </template>
</yo-card>

<yo-card footerAlign="left" header="footer左對齊">
    <div>s</div>
    <template #footer>
        <span class="voyo-badge __badge-color-warn mr-2">左對齊</span>
        <span class="voyo-badge __badge-color-success">左對齊</span>
    </template>
</yo-card>